{{ define "flash" }}
  {{ range .Flashes }}
    {{ $flashColors := dict "success" "bg-green-500" "warning" "bg-orange-500" "error" "bg-red-500" }}
    <div class="relative block w-full p-4 mb-4 text-base leading-5 text-white rounded-lg opacity-100 font-regular {{ get $flashColors .Type.String }}" role="alert">
      {{ .HTML }}
    </div>
  {{ end }}
{{ end }}
