name: releaser

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

permissions:
  contents: write
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      flags: ""
    steps:
      - if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: echo "flags=--snapshot" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
      # - name: Run GoReleaser
      #   uses: goreleaser/goreleaser-action@v5
      #   with:
      #     distribution: goreleaser
      #     version: latest
      #     args: release --clean ${{ env.flags }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: ko-build/setup-ko@v0.6
      - name: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
        run: |
          ko build ./cmd/tofutfd --base-import-paths -t ${{ github.ref_name }} 
          ko build ./cmd/tofutf-agent --base-import-paths -t ${{ github.ref_name }} 

      # - name: release-notes
      #   if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
      #   run: |
      #     ko resolve --base-import-paths -t ${{ github.ref_name }}  -f k8s/ > release.yaml
      #     gh release upload ${{ github.ref_name }} release.yaml