name: releaser

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*


permissions:
  contents: read

jobs:
  publish:
    name: Publish Artifacts
    permissions:
      contents: write
      packages: write
      issues: write
      id-token: write
    runs-on: ubuntu-latest
    env:
      flags: ""
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      - name: Set up yq
        env: 
          VERSION: v4.34.2
          BINARY: yq_linux_amd64
        run: | 
          wget https://github.com/mikefarah/yq/releases/download/${VERSION}/${BINARY}.tar.gz -O - |\
            tar xz
          sudo mv ${BINARY} /usr/bin/yq
      - uses: ko-build/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.6
      - name: publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          make publish VERSION=${{ github.ref_name }}
      - name: publish-snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: |
          make publish